<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">


</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" th:action="@{/login-process}" method="post" name="str" th:onsubmit="return validateForm()">
                <h5 class="font-weight-bolder mt-5 mb-4">로그인</h5>
                <input type="text" placeholder="아이디" name="username" id="username"/>
                <input type="password" placeholder="비밀번호" name="password" id="password"/>
                <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" />
                <div align="center" th:if="${param.error}">
                    <p class="font-12 text-danger">아이디 혹은 비밀번호가 일치하지 않습니다.</p>
                </div>
                <button type="submit">login</button>
            </form>
        </div>
        <a th:href="@{/join}"><h5>회원가입</h5></a>
    </div>

    <script type="text/javascript" th:src="@{/js/mngmt/login.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha512-YUkaLm+KJ5lQXDBdqBqk7EVhJAdxRnVdT2vtCzwPHSweCzyMgYV/tgGF4/dCyqtCC2eCphz0lRQgatGVdfR0ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>