<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ex.laos.dam.dao.DamDao">

    <select id="getDamId" parameterType="String" resultType="map">
        SELECT
            TD.DAM_ID::varchar ,
            TD.DAM_NM
        FROM TEMP3.TBL_DAM TD
        WHERE TD.DAM_NM = #{damName}
    </select>

    <insert id="insertDamObservationDtoList" parameterType="com.ex.laos.dam.dto.DamObservationDto">
        INSERT INTO temp3.tbl_dam_obsrvn_hstry
            (
             dam_id,
             obsrvn_ymd,
             wl,
             vol,
             inflow,
             pg,
             fsp,
             fg,
             fto,
             tofl,
             twl,
             rf
             )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
             #{item.damId}::uuid,
             TO_DATE(#{item.obsrvnYmd}, 'yyyy-MM-dd'),
             #{item.wl} ,
             #{item.vol} ,
             #{item.inflow} ,
             #{item.pg} ,
             #{item.fsp} ,
             #{item.fg} ,
             #{item.fto} ,
             #{item.tofl} ,
             #{item.twl} ,
             #{item.rf}
            )
        </foreach>
    </insert>

    <update id="upsertLastFiveDaysDamObservationDtoList" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            INSERT INTO temp3.tbl_dam_obsrvn_hstry
                (
                dam_id,
                obsrvn_ymd,
                wl,
                vol,
                inflow,
                pg,
                fsp,
                fg,
                fto,
                tofl,
                twl,
                rf
                )
            VALUES
                (
                #{item.damId}::uuid,
                TO_DATE(#{item.obsrvnYmd}, 'yyyy-MM-dd'),
                #{item.wl},
                #{item.vol},
                #{item.inflow},
                #{item.pg},
                #{item.fsp},
                #{item.fg},
                #{item.fto},
                #{item.tofl},
                #{item.twl},
                #{item.rf}
                )
            ON CONFLICT (dam_id, obsrvn_ymd) DO UPDATE SET
                wl = excluded.wl,
                vol = excluded.vol,
                inflow = excluded.inflow,
                pg = excluded.pg,
                fsp = excluded.fsp,
                fg = excluded.fg,
                fto = excluded.fto,
                tofl = excluded.tofl,
                twl = excluded.twl,
                rf = excluded.rf
        </foreach>
    </update>



</mapper>
