<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ex.laos.common.dao.MemberDao">


    <select id="findByUserId" parameterType="String" resultType="com.ex.laos.common.dto.MemberDto">
        select
            tm.mbr_id,
            tm.pswd,
            tm.nm,
            tm.telno,
            tm.ogdp,
            tm.stts,
            tm.reg_dt
        from
            temp3.tbl_mbr tm
        where
            tm.mbr_id = #{username}
    </select>

    <insert id="insertMember" parameterType="com.ex.laos.common.dto.MemberDto">
        INSERT INTO temp3.tbl_mbr
            (mbr_id,
             pswd,
             nm,
             telno,
             ogdp,
             stts,
             reg_dt,
             mdfr_id)
        values
            (#{mbrId},
             #{pswd},
             #{nm},
             #{telno},
             #{ogdp},
             #{stts},
             now(),
             'SYSTEM'::character varying)
    </insert>

<!--    <insert id="insertPasswordUpdateHistory" parameterType="string"  useGeneratedKeys="true" keyProperty="string">-->
    <insert id="insertPasswordUpdateHistory" parameterType="map">
        INSERT INTO temp3.tbl_pswd_chg_hstry
            (pswd_chg_id,
             mbr_id,
             reg_dt,
             pswd_chg_yn,
             chg_dt,
             expry_dt)
        VALUES
            (#{pswdChgId}::uuid,
             #{username},
             now(),
             'N',
             NULL,
             now() + interval '24 hours')
    </insert>

    <update id="updatePasswordByUsername" parameterType="string">

    </update>

    <select id="selectUserRoleByUsername" parameterType="string">
        SELECT B.ROLE_NM
        FROM TEMP3.TBL_MBR_ROLE_MPPNG A
                 JOIN TEMP3.TBL_ROLE B ON A.ROLE_ID = B.ROLE_ID
        where A.MBR_ID = #{username}
    </select>

<!--    <resultMap id="pswdChangeResultMap" type="java.util.UUID">-->
<!--        <id property="pswdChgId" column="pswd_chg_id"/>-->
<!--    </resultMap>-->

</mapper>
