<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ex.laos.tank.dao.TankDao">

    <select id="getTankInputParametersByDamId" parameterType="String" resultType="map">
        SELECT
            xsi,
            xai,
            xbi,
            xci,
            xdi,
            s1,
            s2,
            k1,
            k2,
            a2,
            a1,
            a0,
            b1,
            b0,
            c1,
            c0,
            d1,
            ha2,
            ha1,
            hb,
            hc,
            u1,
            u2
        FROM
            temp3.tbl_tank_bsc_inpt_param ttbip
        JOIN temp3.tbl_dam td ON ttbip.dam_id = td.dam_id
        WHERE
            ttbip.DAM_ID=#{DAMID}::UUID AND
            ttbip.USE_YN = 'Y'
        ORDER BY ttbip.REG_DT DESC
        LIMIT 1
    </select>

    <insert id="insertDamTankPredictionHistory" parameterType="com.ex.laos.tank.dto.PredictionSummaryDto" useGeneratedKeys="true" keyProperty="tankSimId" >
        INSERT INTO temp3.tbl_dam_tank_pred_hstry
        (tank_sim_id, dam_id, pred_bgng_ymd, pred_end_ymd, rf, runoff, evap, excn_dt, excn_rslt, fail_msg)
        values
            (uuid_generate_v4(),
             #{damId}::uuid,
             TO_DATE(#{predictionBeginYmd},'MM/DD/YYYY'),
             TO_DATE(#{predictionEndYmd} ,'MM/DD/YYYY'),
             #{realRainfall}::numeric ,
             #{computedFlowDept}::numeric ,
             #{evapotranspiration}::numeric ,
             now(),
             'S',
             '')
            RETURNING tank_sim_id;
    </insert>

    <insert id="insertDamTankPredictionSummary" parameterType="com.ex.laos.tank.dto.PredictionSummaryDto">
        INSERT INTO temp3.tbl_dam_tank_pred_rslt_summary
        (tank_sim_id, actl_rf_amt, obsrvn_fm_amt, calc_fm_amt, evats_amt, runoff_rt, obsrvn_mean, obsrvn_sd, sim_mean, sim_sd)
        VALUES
            (
                #{tankSimId}::uuid,
                #{realRainfall}::numeric,
                #{observedFlowDept}::numeric,
                #{computedFlowDept}::numeric,
                #{evapotranspiration}::numeric,
                #{ratio}::numeric,
                #{obsMean}::numeric,
                #{obsSdev}::numeric,
                #{simMean}::numeric,
                #{simSdev}::numeric)
    </insert>

    <insert id="insertDamTankPredictionResultOverwrite" parameterType="com.ex.laos.tank.dto.PredictionSummaryDto">
        INSERT INTO temp3.tbl_dam_tank_pred_rslt_overwrite
        (tank_sim_id, pred_ymd, rf, obs_val, calcs)
        VALUES
        <foreach collection="inflows" item="item" separator=",">
            (
            #{tankSimId}::uuid,
            TO_DATE(#{item.date}, 'YYYY/MM/DD'),
            #{item.RMm}::numeric,
            #{item.QoCms}::numeric,
            #{item.QsCms}::numeric
            )
        </foreach>
    </insert>



</mapper>
